/.ipynb_checkpoints
/bike-no.csv
/clean_dataset.csv
/Credit Card Approval-checkpoint.ipynb
/credit_card_logistic_regression_model.pkl
/file1.xlsx
/House Price Prediction Project-checkpoint.ipynb
/House Price Prediction Project.ipynb
/HousePricePrediction.csv
/Loan Approval Prediction Project-checkpoint.ipynb
/Loan Approval Prediction Project.ipynb
/Loan Calculator-checkpoint.ipynb
/Loan Calculator.ipynb
/LoanApproval.csv
/LoanApprovalPrediction.csv
/Netflix Stock Anomaly Detection-checkpoint.ipynb
/Netflix Stock Anomaly Detection.ipynb
/NetflixStock.csv
/OH_encoder.pkl
/Prediction Housing price.xlsx
/predict_page.py
/test.csv
/Time Series Project-checkpoint.ipynb
/Time Series Project.ipynb
/Time Series Project.xlsx
/train.csv
/~$file1.xlsx